html,body{
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.h1{
    margin-bottom: 50px;
}

.responsaveis{
    display: flex;
    flex-direction: column;
}

.user-item{
    padding-bottom: 0.5%;
}